.round-cursor {
  position: fixed;
  z-index: 9999; /* Ensure the cursor appears on top of other elements */
  width: 12px; /* Adjust the size of the cursor */
  height: 12px;
  border-radius: 50%;
  pointer-events: none;
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
