.quote {
    &__container {
        display: flex;
        max-width: 100vw;
    }
    &__wrapper{
        margin-bottom: 2rem;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: 3rem;
        max-width: 90%;
        width: 1024px;
        font-family: "Montserrat Medium";
        font-style: italic;
        font-weight: 900;
        max-width: 40ch;
        font-size: 2.5rem;
        text-align: center;
        transform: scale(1);
        animation: scale forwards ease;
        animation-delay: 0.1s;
    }
}

.miniLogoContainer {
    @media screen and (min-width:767px) {
        margin-top: 8rem;
    }
}

@keyframes drawCircle {
    from {
        stroke-dashoffset: -744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.animateLogo {
    stroke-dasharray: 744;
    stroke-dashoffset: -744;
    animation: drawCircle 1s infinite ease;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}
.quote__each {
    display: inline-block;
    margin-right: 0.7rem;
}


@media only screen and (min-width:480px) {
    .quote__each {
        opacity: 0;
        filter: blur(4px);
    }
    @for $i from 1 through 20 {
        .quote__each:nth-child(#{$i}) {
            animation: fade-in 0.6s $i*0.01s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width:1024px) {
    .quote__content {
        font-size: 2rem;
    }
}

@media only screen and (max-width:480px) {
    .quote__content {
        margin-top: 2rem;
    }
}