.quote {
    &__container {
        display: flex;
    }

    &__content {
        margin-left: 3rem;
        max-width: 90%;
        width: 1024px;
        font-family: "Montserrat Medium";
        font-style: italic;
        font-weight: 900;
        max-width: 40ch;
        font-size: 3rem;
        text-align: center;
        transform: scale(1);
        animation: scale forwards cubic-bezier(0.5, 1, 0.89, 1);
        animation-delay: 0.5s;
    }
}
.miniLogoContainer{
    @media screen and (min-width:767px) {
        margin-top:8rem;
        
    }
}


@keyframes drawCircle {
    from {
        stroke-dashoffset: -744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.animateLogo{
    stroke-dasharray: 744;
    stroke-dashoffset: -744;
    animation: drawCircle 1s infinite ease;
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.quote__each {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

@for $i from 1 through 20 {
    .quote__each:nth-child(#{$i}) {
        animation: fade-in 1s $i*0.07s forwards cubic-bezier(0.11, 0, 0.5, 0);

        @media screen and (max-width:"767px") {
            animation: none;
            opacity: 1;
            filter: blur(0);
        }

        margin-right: 0.7rem;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width:1024px) {
    .quote__content {
        font-size: 2rem;
    }
}

@media only screen and (max-width:480px) {
    .quote__content {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}