@mixin animateText {
    animation: fadeInRight 0.8s ease;
}

@mixin fadeInSeperation {
    animation: fadeInSeperation 4s ease;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInSeperation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.intro {
    &__container {
        background-color: #32a7f504;
        box-shadow: 0 0 0.5rem #00000049;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        border-radius: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__image__container {
        width: 500px;
    }

    &__self {
        font-size: 4rem;
        @include animateText;
        margin: 0;

    }

    &__content {
        max-width: 780px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    &__profession {
        text-transform: uppercase;
        margin: 1rem;
        color: #2753d7;
        font-size: 3.5rem;
        @include animateText;
        
    }

    &__horizontalSeparation {
        border-left: solid 2px rgb(80, 77, 77);
        height: 100%;
        @include fadeInSeperation;
    }

    &__description {
        max-width: 480px;
        width: 90%;
        line-height: 2;
        margin: 1rem;
        @include animateText;
    }
}

@media only screen and (max-width:768px) {
    .intro {
        &__container {
            flex-direction: column;
        }

        &__self {
            font-size: 2rem;
        }

        &__profession {
            font-size: 2rem;
        }
        &__image__container{
            width: 70%;
        }
    }

    .intro__container {
        background-color: #00000000;
        box-shadow: none;
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }

}