$darkBg: rgba(21, 21, 21);
$lightBg: #add3ff;
$caret-color-dark: b6d8ff;
$caret-color-light: rgb(0, 0, 0);
$text-length: 23;
$animation-time: 2s;

@mixin animateDescription {
    animation: zoom 1s ease forwards;
    animation-delay: 2s;
}

@mixin animateProfession {
    animation: fadeInProfession 1s ease forwards;
    animation-delay: 1.5s;
}

@mixin animateImage {
    animation: fadeInRightImage 1s ease forwards;
}

@mixin fadeInSeperation {
    animation: fadeInSeperation 4s ease;
}

@keyframes zoom {
    from {
        opacity: 0;

        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInRightImage {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInProfession {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInSeperation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@mixin commonSelf {
    font-size: 2rem;
    margin: 0;
    width: max-content;
    position: relative;

    &::after {
        content: "|";
        position: absolute;
        right: 0;
        width: 100%;
        color: $caret-color-dark;
        background: $darkBg;
        animation: typing $animation-time steps($text-length) forwards,
            caret 1s infinite;
    }
}

.intro {
    &__content{
        margin-top:1.5rem;
    }
    &__container {
        min-height: 80vh;
        background-color: #ffffff04;
        box-shadow: 0 0 0.5rem #00000049;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        border-radius: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        @media screen and (max-width:767px) {
            height: 100vh;
            justify-content: center;
        }
    }

    &__image__container {
        width: 500px;

        @media screen and (max-width:767px) {
            width: 400px;
        }

        @include animateImage;
    }

    &__self {
        &--dark {
            @include commonSelf();
        }

        &--light {
            @include commonSelf();

            &::after {
                background: $lightBg;
                color: $caret-color-light;
            }
        }

    }

    // Animation
    @keyframes typing {
        to {
            width: 0
        }
    }

    @keyframes caret {
        50% {
            color: transparent
        }
    }

    &__content {
        max-width: 780px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    &__profession {
        text-transform: uppercase;
        margin: 1rem;
        color: #2753d7;
        font-size: 3.5rem;
        @include animateProfession;
    }

    &__horizontalSeparation {
        border-left: solid 2px rgb(80, 77, 77);
        height: 100%;
        @include fadeInSeperation;
    }

    &__description {
        max-width: 480px;
        width: 90%;
        line-height: 1.6;
        margin: 1rem;
        transform: scale(0);
        @include animateDescription;
    }

}

@media only screen and (max-width:768px) {
    .intro {
        &__container {
            flex-direction: column;
        }

        &__self {
            font-size: 2rem;
        }

        &__profession {
            font-size: 2rem;
        }

        &__image__container {
            width: 70%;
            height: 35vh;
        }
    }

    .intro__container {
        background-color: #00000000;
        box-shadow: none;
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }

}



.slider__wrapper {
    font-size: 2.5rem;
    color: #2753d7;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    @include animateProfession;
}

.slider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    overflow: hidden;
}

.slider div {
    color: #fff;
    margin-bottom: 2.5rem;
    text-align: center;
    box-sizing: border-box;
}

.slider__text1 {
    font-size: inherit;
    animation: slide 10s linear infinite;
    animation-delay: 1.5s;

}

.slider__text2 {
    font-size: inherit;
    text-size-adjust: auto;
}

.slider__text3 {
    font-size: inherit;
    text-size-adjust: auto;

}

@keyframes slide {
    0% {
        margin-top: 0px;
    }

    5% {
        margin-top: 0px;
    }

    16% {
        margin-top: 0px;
    }

    21% {
        margin-top: -5rem;
    }

    33% {
        margin-top: -5rem;
    }

    38% {
        margin-top: -5rem;
    }

    49% {
        margin-top: -10rem;
    }

    54% {
        margin-top: -10rem;
    }

    66% {
        margin-top: -10rem;
    }

    71% {
        margin-top: -5rem;
    }

    82% {
        margin-top: -5rem;
    }

    87% {
        margin-top: -5rem;
    }

    100% {
        margin-top: 0px;
    }

}
@keyframes slideMobile {
    0% {
        margin-top: 0px;
    }

    5% {
        margin-top: 0px;
    }

    16% {
        margin-top: 0px;
    }

    21% {
        margin-top: -2.5rem;
    }

    33% {
        margin-top: -2.5rem;
    }

    38% {
        margin-top: -2.5rem;
    }

    49% {
        margin-top: -5rem;
    }

    54% {
        margin-top: -5rem;
    }

    66% {
        margin-top: -5rem;
    }

    71% {
        margin-top: -2.5rem;
    }

    82% {
        margin-top: -2.5rem;
    }

    87% {
        margin-top: -2.5rem;
    }

    100% {
        margin-top: 0px;
    }

}
@media screen and (max-width:1024px) {
    .slider__wrapper {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
    }
    .slider__text1 {
        animation: slideMobile 10s linear infinite;
    }
}
.main__image {
    max-width: 400px;
}
