  .card {
    &__container{
    }:hover{
      cursor: grab;
    }
    &__image--desk {
      border-radius: 12px;
      width: 350px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 10px;
      display: flex;
      flex-direction: column !important;
      justify-content: flex-start;
    }
    &__image{
      border-radius: 1rem;
    }
  }

  .card {
    &__tech {
      @media only screen and (max-width: 780px) {
        display: none;
      }

    }
  }

  .card {
    &__image--mob {
      display: none;
    }
  }

  .card {
    margin: 1rem;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s;

    &__container {
      border-radius: 10px;
    }
  }

  @media only screen and (max-width: 780px) {
    .scrollRight {
      display: none !important;
    }

    .description {
      display: block;
      max-height: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
    }

    .card-container {
      .card {
        width: 100vw;
        height: 150px;
        animation: hvr 5s infinite ease-in-out;
        transition: none;
      }
    }

    .card {
      &__tech {
        display: none;
      }
    }

    .card {
      &__image--mob {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    @keyframes hvr {
      0% {
        box-shadow: -2px 2px 0px 0px #202020,
          -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
        transform: translate(0px, 0px);
      }

      50% {
        transform: translate(0px, -20px);
        box-shadow: -2px 1px 0px 0px #202020,
          -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
      }

      100% {
        box-shadow: -2px 2px 0px 0px #202020,
          -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
        transform: translate(0px, 0px);
      }
    }
  }