@mixin area {
    height: 100vh;
}

.theme { 
    &--light {
        color: #2f2f2f;
        @include area;
    }

    &--dark {
        color: rgb(239, 249, 255);
        @include area;
    }
}

.navTheme {
    &--light {
        background-image: linear-gradient(to right, #cdecff00,#cdecff15,#e7f6ff,#e7f6ff ,#e7f6ff );
        // transition: all 0.1s ease;
    }

    &--dark {
        background-image: linear-gradient(to right,#2f2f2f00,#2f2f2f00,#111,#111, #111);
        // transition: all 0.1s ease;
    }
}
