body {
    background-image: linear-gradient(to right, #e7f6ff, #c3dfff, #b6d8ff, #a1cdff, #a1cdff);
    color: rgb(49, 49, 49);
    transition-timing-function: ease-in;
    transition: background-color 0.1s ease, color 0.1s ease;
    transition: background-image 0.1s ease, color 0.1s ease;
    background-color: none;
    font-size: 1rem;
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
}

.control-arrow {
    opacity: unset;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

.carousel.carousel-slider .control-arrow:hover {
    background: none !important;
}

::-webkit-scrollbar-thumb {
    display: none;
}

body.dark-mode {
    background-color: #111;
    color: rgb(255, 255, 255);
    background-image: none;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.parallax-element {
    will-change: transform;
}