body {
    background-color: #111;
    color: rgb(231, 246, 255);

}
::-webkit-scrollbar {
    display: none;
}

body{
    
}::-webkit-scrollbar-thumb {
    display: none;
}

body.light-mode {
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to right, #cdecff00,#cdecff15,#e7f6ff,#e7f6ff ,#a1cdff );
    color: #111;
}

html {
    scroll-behavior: smooth;
}