body {
    background-color: #111;
    color: rgb(194, 194, 194);
    transition-timing-function: ease-in;
    transition: background-color 0.5s ease, color 0.5s ease;
    
}

::-webkit-scrollbar {
    display: none;
}

.control-arrow {
    opacity: unset;
}

.carousel.carousel-slider .control-arrow:hover {
    background: none !important;
}

body {}

::-webkit-scrollbar-thumb {
    display: none;
}

body.light-mode {
    color: rgb(49, 49, 49);
    background-image: linear-gradient(to right, #e7f6ff, #c3dfff, #b6d8ff, #a1cdff, #a1cdff);
    color: rgb(49, 49, 49);
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
