
.card {
    width: 330px;
    margin:1rem;
    max-width: 280px;
    aspect-ratio: 9/12;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
    border-radius: 7px;
    overflow: hidden;
  }
  
  .card > * {
    z-index: 2;
  }
  
  .card > img {
    z-index: 0;
  }
  
  .card::before,
  .card::after {
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s cubic-bezier(0.66, 0.08, 0.19, 0.97) all;
  }
  .card::after {
    transition-delay: 0.15s;
    top: 50%;
  }
  
  .text {
    position: absolute;
    inset: 20px;
    top: auto;
    overflow: hidden;
    transform: translateX(100px) scale(0.8);
    color:rgba(0, 0, 0, 0);
    
  }
  
  .card__heading {
    font-weight: 800;
    font-size: clamp(20px, 4vw, 40px);
    margin-bottom: 0.1em;
  }
  
  .card__description {
    line-height: 1.4;
    text-align: justify;
    font-size: 1.25vw;
    font-size: clamp(10px, 1.25vw, 14px);
    margin-top: 0.1em;
    margin-bottom: 0;
  }
  
  .card__heading .char,   .card__description .word {
    display: inline-block;
    opacity: 0;
    position: relative;
    transform: translateY(20px);
    transition: 0.5s ease all;
    z-index: 3;
    color: #5cb2e8;
  }
  
  .cardImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  
  .card:hover::before,
  .card:hover::after {
    transform: scaleX(1);
  }
  .card:hover{
    transform: scale(1.05);
    transition:  0.5s ease;
  }
  .card:hover .card__heading .char,
  .card:hover .card__description .word {
    .text{
      color:black;
    }
    transform: translateX(0);
    opacity: 1;
    color: rgba(255,255,255,0.9);
  }
  .card:hover .text{
    transform: translate(0px) scale(1);
    transition-duration: 0.5s;;
    color:white;
  }
  .card:hover .card__heading .char {
    transition-delay: calc(0.1s + var(--char-index) * 0.04s);
  }
  .card:hover .card__description .word {
    transition-delay: calc(0.1s + var(--word-index) * 0.025s);
  }
  
  
  