@use '../../../styles/theme.module.scss' as *;
.about {
    &__title {
        background: -webkit-linear-gradient(#353839, #2753d7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-block-start: 0 !important;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-bottom: 3rem;
        background-color: #ffffff04;
        @include section__border;
        padding-bottom: 3rem;
        position: relative;
        border-radius: 1rem;

        @media screen and (max-width:767px) {
            background-color: #ffffff00;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.experience {
    &__title{
        font-size: 2rem;
        font-weight: 600;
    }
    &--mobile {
        display: none !important;
    }
}

@media screen and (max-width:667px) {
    .experience {
        &--desktop {
            display: none !important;
        }

        &--mobile {
            display: block !important;
        }
    }
}