.circle {
    stroke-dasharray: 743;
    stroke-dashoffset: 743;
    animation: drawCircle 1s infinite ease;
}

@keyframes drawCircle {
    from {
        stroke-dashoffset: 743;
    }

    to {
        stroke-dashoffset: 0;
    }
}
.svg{
    width: 10rem;
}
@media only screen and (max-width: 600px) {
    .svg{
        width: 8rem;
    }
}
