.skills {
    &__title {
        background: -webkit-linear-gradient(#353839, #2753d7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-block-start: 0 !important;
    }

    &--show--left {
        opacity: 0;
        animation: moveContent ease 1s forwards;

        @media screen and (max-width:767px) {
            animation: none;
            opacity: 1;

        }
    }

    &--hide {
        opacity: 1;
        animation: fadeOut ease 1s forwards;
        @media screen and (max-width:767px) {
            animation: none;
            opacity: 1;
           

        }
    }

    &--show--right {
        animation: rightContent ease 1s forwards;

        @media screen and (max-width:767px) {
            animation: none;
            opacity: 1;
           

        }
    }

    &__container {
       
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 90vh;
        box-shadow: 0 0 0.5rem #00000049;
        padding-bottom: 3rem;

        @media screen and (max-width:"767px") {
            background-color: #ffffff00;
            box-shadow: none;
            width: 100%;
        }

        overflow-x:hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            display: block;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f500;
        }

        &::-webkit-scrollbar {
            display: block;
            width: 0.5rem;
            background-color: #f5f5f500;
        }

        &::-webkit-scrollbar-thumb {
            display: block;
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #5a5a5aa8;
        }

        @media screen and (max-width:767px) {
            &::-webkit-scrollbar-track {
                display: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                display: none;
            }
        }
    }

    &__header {
        font-size: 3.5rem;

        @media screen and (max-width:767px) {
            font-size: 2.5rem;
        }

        opacity: 0.8;
        text-align: Left;
        margin: 1rem;
    }

    &__content__wrapper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;

        @media screen and (max-width:"767px") {

            flex-direction: column;
        }

    }
}

@keyframes rightContent {
    from {
        transform: translatex(300px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translatex(0px);

    }

}

.skills__header {
    color: #2753d7;
    font-weight: 900;
    position: absolute;
    text-shadow: 0 0 0.2rem #2753d7;
    opacity: 0.6;
}

.header {
    &--show {
        animation: moveHeader ease 0.4s forwards;
        margin-top: 2.5rem;

        @media screen and (max-width:767px) {
            margin-top: 0rem;
            animation: none;
            opacity: 1;
        }
    }

    &--hide {
        animation: fadeOutText ease 1s forwards;

        @media screen and (max-width:767px) {
            margin-top: 0rem;
            animation: none;
            opacity: 1;
        }
    }
}


@keyframes moveHeader {
    from {
        transform: translateY(-300px);
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }

}

@keyframes fadeOutText {
    from {
        transform: translateY(0);
        // opacity: 1;
    }

    to {
        // opacity: 0;
        transform: translateY(-200px);
    }
}

@keyframes fadeOut {
    from {
        // transform: scale(1);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(400px);
    }
}



@keyframes moveContent {
    from {
        transform: translate(-400px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image {
    @media screen and (max-width:767px) {
        
        margin-left:5rem;
        margin-right: 5rem;
    }
    &--show {
        opacity: 0;
        animation: zoomImage ease 1.5s forwards;

        @media screen and (max-width:767px) {
            animation: none;
           
            opacity: 1;
        }
    }

    &--hide {
        opacity: 0;
        @media screen and (max-width:767px) {
            animation: none;
           
            opacity: 1;
        }
    }
}

@keyframes zoomImage {
    from {
        transform: scale(0);
        opacity: 0.5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}