@mixin sectionCommon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section {
    &__home {
        @include sectionCommon();
    }

    &__projects {
        @include sectionCommon();
        @media screen and (max-width:767px) {
            min-height:70vh;
        }
    }
    
    &__quotes {
        @include sectionCommon();
        min-height:50vh;
    }

    &__skills {
        display: flex;
        justify-content: center;
    }

    &__contact {
        @include sectionCommon();
    }

    &__about {
        @include sectionCommon();
    }

    &__footer {
        padding-bottom: 3rem;
    }
}