@mixin sectionCommon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section {
    &--home {
        @include sectionCommon();
    }

    &--projects {
        @include sectionCommon();
        @media screen and (max-width:767px) {
            min-height:70vh;
        }
    }

    &--quotes {
        @include sectionCommon();
    }

    &--skills {
        @include sectionCommon();
    }

    &--contact {
        @include sectionCommon();
    }

    &--about {
        @include sectionCommon();
    }

    &--footer {
        padding-bottom: 3rem;

    }
}