@use "../../../styles/theme.module.scss" as *;
$nav-item-width: 6rem;
$nav-item-spacing: 1rem;
$nav-items:
  "home" 5,
  "projects" 4,
  "skills" 3,
  "blogs" 2,
  "about" 1,
  "contact" 0;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 5rem;
  background-color: #218cd405;
}

.ham {
  &__wrapper {
    display: none;
  }
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

.navigation {
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

.toggle {
  &__desktop {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;

    @media screen and (min-width: "767px") {
      display: none;
    }
  }

  --size: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(246, 100%, 78%);

  transition: all 500ms;

  &:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 100%, 50%);
    box-shadow:
      inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
        var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  }
}

.logo__container {
  padding: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .ham {
    &__wrapper {
      pointer-events: none;
      display: block;
      position: relative;
      z-index: 500;
    }
  }

  .navMenu--desktop {
    display: none;
  }

  .navigation {
    display: none;
  }

  .desktop__menu {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }
}

.side__menu {
  &__dark {
    z-index: 10;
    @include section__border(true);
  }
  &__light {
    z-index: 150;
    border: solid 1px #0000001c !important;
    box-shadow:
      0rem 0rem 0.5rem #62abff !important;
  }
}
