.contact {
    &__title {
        background: -webkit-linear-gradient(#353839, #2753d7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-block-start: 0 !important;
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 85%;
        min-height: 90vh;
        box-shadow: 0 0 0.5rem #00000049;
        padding:1rem;
        @media screen and (max-width:"767px") {
            width: 100%;
        }
    }
}