@mixin section__border {
    box-shadow: 0 0 0.4rem #8181811c;
    border: solid 1px rgba(126, 126, 126, 0.091);

    @media screen and (max-width:1200px) and (min-width: 768px) {
        box-shadow: none !important;
        border: none !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }

}
