@mixin section__border($dark-mode) {
  @if $dark-mode {
    box-shadow: 0 0 1rem #000000b0 !important;
    border: solid 1px rgb(32, 32, 32) !important;
    background-color: rgba(255, 255, 255, 0.016);
    
    @media screen and (max-width: 1200px) and (min-width: 768px) {
      box-shadow: none !important;
      border: none !important;
      background-color: rgba(0, 0, 0, 0) !important;
    }
  } @else {
    box-shadow: 0 0 0.7rem #a1cdff77, 0.3rem 0.3rem 0.7rem #80bbffaf !important;
    border: solid 1px #0000001c !important;

    @media screen and (max-width: 1200px) and (min-width: 768px) {
      box-shadow: none !important;
      border: none !important;
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
}
