
.area{
    width: 100%;
    height:100vh;
    max-height: 100vh;
    position: absolute;
    top:0;
    z-index: -1;
}
.dark{
    background: rgba(223, 223, 223, 0.247);

}
.light{
    background: rgba(255, 255, 255, 0.5);

}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 1rem;
    height: 1rem;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 1.2rem;
    height: 1.2rem;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 1.3rem;
    height: 1.3rem;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 2rem;
    height: 2rem;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 2.1rem;
    height: 2.1rem;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 1.5rem;
    height: 1.5rem;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 2rem;
    height: 2rem;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 3rem;
    height: 3rem;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 1rem;
    height:1rem;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 3rem;
    height: 3rem;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}